allow init init:netlink_route_socket { read } 
allow init socket_device:sock_file { create } 
allow init socket_device:sock_file { setattr } 
allow init vendor_file:file { execute_no_trans } 
allow init sysfs:file { write } 
allow init init:binder { call } 
allow rild socket_device:dir { write } 
allow rild socket_device:dir { add_name } 
allow rild socket_device:sock_file { create } 
allow rild vendor_data_file:file { read } 
allow rild vendor_data_file:dir { write } 
allow rild vendor_data_file:dir { add_name } 
allow rild vendor_data_file:file { create } 
allow rild vendor_data_file:file { write open } 
allow rild vendor_data_file:file { getattr } 
allow rild vendor_data_file:file { ioctl } 
allow rild vendor_data_file:file { lock } 
allow rild default_android_hwservice:hwservice_manager { add } 
allow rild socket_device:sock_file { create } 
allow init proc:file { write } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow init init:socket { write } 
allow init init:capability2 { block_suspend } 
allow rild init:binder { call } 
allow rild rild:socket { ioctl } 
allow init ion_device:chr_file { read } 
allow init ion_device:chr_file { open } 
allow init ion_device:chr_file { ioctl } 
allow hal_audio_default sysfs:file { read } 
allow hal_audio_default sysfs:file { open } 
allow hal_audio_default sysfs:file { getattr } 
allow hal_audio_default vendor_data_file:dir { write } 
allow hal_audio_default vendor_data_file:dir { add_name } 
allow hal_audio_default vendor_data_file:file { create } 
allow hal_audio_default vendor_data_file:file { read append open } 
allow hal_audio_default vendor_data_file:file { getattr } 
allow hal_audio_default device:chr_file { read write } 
allow hal_audio_default device:chr_file { open } 
allow hal_audio_default device:chr_file { ioctl } 
allow init init:socket { setopt } 
allow init init:socket { connect } 
allow init mnt_vendor_file:file { rename } 
allow init video_device:chr_file { ioctl } 
allow hal_camera_default device:chr_file { read write } 
allow hal_camera_default device:chr_file { open } 
allow hal_camera_default device:chr_file { ioctl } 
allow init ion_device:chr_file { write } 
allow hal_camera_default camera_data_file:dir { search } 
allow hal_camera_default camera_data_file:sock_file { write } 
allow hal_camera_default init:unix_dgram_socket { sendto } 
allow init hal_camera_default:fd { use } 
allow init sysfs_wake_lock:file { write } 
allow init sysfs_wake_lock:file { open } 
allow init bootanim:process { noatsecure } 
allow init graphics_device:chr_file { read } 
allow init graphics_device:chr_file { open } 
allow init graphics_device:chr_file { ioctl } 
allow hal_camera_default fwk_display_hwservice:hwservice_manager { find } 
allow hal_camera_default hal_power_hwservice:hwservice_manager { find } 
allow hal_camera_default surfaceflinger:binder { call } 
allow surfaceflinger hal_camera_default:binder { transfer } 
allow init uhid_device:chr_file { write } 
allow init uhid_device:chr_file { open } 
allow init uhid_device:chr_file { ioctl } 
allow init hwservicemanager:binder { call } 
allow init hwservicemanager:binder { transfer } 
allow init hal_fingerprint_hwservice:hwservice_manager { add } 
allow hal_audio_default sysfs:dir { read } 
allow hal_audio_default sysfs:dir { open } 
allow hal_audio_default sysfs:file { read } 
allow hal_audio_default sysfs:file { open } 
allow hal_audio_default sysfs:file { getattr } 
allow init system_suspend_hwservice:hwservice_manager { find } 
allow hwservicemanager init:binder { transfer } 
allow init system_suspend:binder { call } 
allow system_suspend init:binder { transfer } 
allow init init:udp_socket { ioctl } 
allow init kernel:system { module_request } 
allow zygote proc_cmdline:file { read } 
allow zygote proc_cmdline:file { open } 
allow zygote proc_cmdline:file { getattr } 
allow hwservicemanager init:process { getattr } 
allow init init:socket { read } 
allow init init:socket { read } 
allow init init:socket { ioctl } 
allow init init:socket { create } 
allow init init:socket { write } 
allow bootanim vendor_file:file { read } 
allow bootanim vendor_file:file { open } 
allow bootanim vendor_file:file { getattr } 
allow bootanim vendor_file:file { execute } 
allow init init:netlink_kobject_uevent_socket { read } 
allow init init:netlink_generic_socket { create } 
allow init init:netlink_generic_socket { bind } 
allow rild rild:socket { ioctl } 
allow rild hal_secure_element_hwservice:hwservice_manager { add } 
allow zygote vendor_file:file { read } 
allow zygote vendor_file:file { open } 
allow zygote vendor_file:file { getattr } 
allow zygote vendor_file:file { execute } 
allow bootanim device:chr_file { read write } 
allow bootanim device:chr_file { open } 
allow bootanim device:chr_file { ioctl } 
allow init vndbinder_device:chr_file { ioctl } 
allow bootanim vendor_file:file { getattr } 
allow bootanim vendor_file:file { read } 
allow bootanim vendor_file:file { open } 
allow surfaceflinger device:chr_file { ioctl } 
allow hal_graphics_composer_default sysfs:file { read } 
allow hal_graphics_composer_default sysfs:file { open } 
allow hal_graphics_composer_default sysfs:file { getattr } 
allow hal_graphics_composer_default binder_device:chr_file { read write } 
allow hal_graphics_composer_default vndbinder_device:chr_file { ioctl } 
allow hal_graphics_composer_default vndservicemanager:binder { call } 
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow hwservicemanager init:dir { search } 
allow hwservicemanager init:file { read } 
allow hwservicemanager init:file { open } 
allow init init:capability2 { block_suspend } 
allow system_server apexd_prop:file { read } 
allow system_server bluetooth_prop:file { read } 
allow system_server bpf_progs_loaded_prop:file { read } 
allow system_server ctl_adbd_prop:file { read } 
allow system_server ctl_bootanim_prop:file { read } 
allow system_server ctl_console_prop:file { read } 
allow system_server ctl_dumpstate_prop:file { read } 
allow system_server ctl_fuse_prop:file { read } 
allow system_server ctl_interface_restart_prop:file { read } 
allow system_server ctl_interface_start_prop:file { read } 
allow system_server ctl_interface_stop_prop:file { read } 
allow system_server ctl_mdnsd_prop:file { read } 
allow system_server ctl_restart_prop:file { read } 
allow system_server ctl_rildaemon_prop:file { read } 
allow system_server ctl_sigstop_prop:file { read } 
allow system_server ctl_start_prop:file { read } 
allow system_server ctl_stop_prop:file { read } 
allow system_server device_config_boot_count_prop:file { read } 
allow system_server dynamic_system_prop:file { read } 
allow system_server heapprofd_enabled_prop:file { read } 
allow system_server last_boot_reason_prop:file { read } 
allow system_server llkd_prop:file { read } 
allow system_server logpersistd_logging_prop:file { read } 
allow system_server lowpan_prop:file { read } 
allow system_server lpdumpd_prop:file { read } 
allow system_server mmc_prop:file { read } 
allow system_server netd_stable_secret_prop:file { read } 
allow system_server persistent_properties_ready_prop:file { read } 
allow system_server system_lmk_prop:file { read } 
allow system_server system_trace_prop:file { read } 
allow system_server test_boot_reason_prop:file { read } 
allow system_server traced_enabled_prop:file { read } 
allow system_server traced_lazy_prop:file { read } 
allow system_server userinit_prop:file { read } 
allow system_server wifi_prop:file { read } 
allow init device:chr_file { read write } 
allow init device:chr_file { open } 
allow init device:chr_file { ioctl } 
allow init init:socket { bind } 
allow init init:capability { net_bind_service } 
allow hal_sensors_default mnt_vendor_file:dir { getattr } 
allow hal_sensors_default mnt_vendor_file:file { read } 
allow hal_sensors_default mnt_vendor_file:file { open } 
allow hal_sensors_default hal_sensors_default:socket { ioctl } 
allow hal_sensors_default hal_sensors_default:socket { create } 
allow hal_sensors_default hal_sensors_default:socket { write } 
allow init netutils_wrapper_exec:file { execute } 
allow init netutils_wrapper_exec:file { read open } 
allow init netutils_wrapper_exec:file { execute_no_trans } 
allow init netutils_wrapper_exec:file { getattr } 
allow init system_file:file { execute_no_trans } 
allow bootanim device:chr_file { ioctl } 
allow bootanim device:chr_file { read write } 
allow init init:netlink_route_socket { create } 
allow init init:netlink_route_socket { setopt } 
allow init init:netlink_route_socket { bind } 
allow init init:netlink_route_socket { getattr } 
allow init init:netlink_route_socket { write } 
allow init init:netlink_route_socket { nlmsg_read } 
allow init init:netlink_route_socket { nlmsg_write } 
allow init netutils_wrapper_exec:file { execute } 
allow init netutils_wrapper_exec:file { read open } 
allow init netutils_wrapper_exec:file { execute_no_trans } 
allow init netutils_wrapper_exec:file { getattr } 
allow init init:netlink_kobject_uevent_socket { read } 
allow ueventd mnt_vendor_file:dir { search } 
allow ueventd mnt_vendor_file:file { read } 
allow ueventd mnt_vendor_file:file { open } 
allow ueventd mnt_vendor_file:file { getattr } 
allow init init:rawip_socket { create } 
allow init init:rawip_socket { getopt } 
allow init init:rawip_socket { setopt } 
allow hwservicemanager init:dir { search } 
allow hwservicemanager init:file { read } 
allow hwservicemanager init:file { open } 
allow hwservicemanager init:process { getattr } 
allow init vendor_file:file { execute } 
allow init vendor_file:file { execute_no_trans } 
allow init sysfs:file { read } 
allow init sysfs:file { open } 
allow init device:chr_file { read write } 
allow init device:chr_file { open } 
allow init device:chr_file { ioctl } 
allow init init:socket { create } 
allow init init:socket { ioctl } 
allow init init:socket { bind } 
allow init init:capability { net_bind_service } 
allow init socket_device:sock_file { write } 
allow init init:socket { read } 
allow init init:socket { write } 
allow hwservicemanager init:binder { call } 
allow init system_net_netd_hwservice:hwservice_manager { find } 
allow hwservicemanager init:binder { transfer } 
allow init socket_device:sock_file { create } 
allow init socket_device:sock_file { setattr } 
allow init init:udp_socket { ioctl } 
allow init init:udp_socket { ioctl } 
allow init init:netlink_generic_socket { write } 
allow init init:netlink_generic_socket { read } 
allow rild socket_device:sock_file { write } 
allow init system_suspend:binder { call } 
allow system_suspend init:binder { transfer } 
allow init kernel:system { module_request } 
allow netd netd:capability { fsetid } 
allow init init:udp_socket { ioctl } 
allow init init:tcp_socket { create } 
allow init init:tcp_socket { ioctl } 
allow init init:udp_socket { getopt } 
allow init fwmarkd_socket:sock_file { write } 
allow init netd:unix_stream_socket { connectto } 
allow netd init:udp_socket { read write } 
allow netd init:udp_socket { getopt } 
allow netd init:udp_socket { setopt } 
allow init init:udp_socket { bind } 
allow init node:udp_socket { node_bind } 
allow init init:udp_socket { getattr } 
allow init init:udp_socket { setopt } 
allow init init:udp_socket { write } 
allow init node:udp_socket { node_bind } 
allow init init:udp_socket { read } 
allow init tmp_root_mount_file:lnk_file { read } 
allow hal_health_default sysfs:file { read } 
allow hal_health_default sysfs:file { open } 
allow hal_health_default sysfs:file { getattr } 
allow init proc:file { write } 
allow init sysfs_devices_system_cpu:file { write } 
allow init init:capability2 { wake_alarm } 
allow init vendor_shell_exec:file { execute_no_trans } 
allow init vendor_shell_exec:file { execute_no_trans } 
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read } 
